body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: blue;
    font-size: 2em;
    
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:dashed black 1px;
    padding:1em;
    border-radius: 2em;
    background-color: orange;
}
main div{
    padding-bottom: 0.25em;
    font-weight: 600;
    display:flex;
    flex-direction: column;
    align-items:  center;
    
}

main input{
    
    text-align: center;
    padding:1em;
    margin-left: 0;
    margin-right: 0;
    background-color: rgba(255, 255, 255);
    border: none;
    height:40px;
    padding:0;
    font-size: large;
    
}
main form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputs{
    display: flex;
    flex-direction: row;
    height: 40px;
    border: black outset 5px;
    padding: 0;
    
}
button{
    margin: 0;
    height: 40px;
    font-weight: 900;
    font-size: large;
}

.headtings{
    text-decoration: underline;
    text-decoration-style: solid;
}

.subtings{
    font-weight: 1;
    font-size:large;
}

#display{
    border-top: 3px dashed black;
    margin-top: 10px;
    padding:0;
    border-bottom: 3px dashed black;
    margin-bottom: 10px;
    
    
}

main h1{
    font-style: italic;
    border: black inset 5px;
    padding-right: 8px;
}